<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>BreizhJUG</title>
  </head>

  <body ng-app="breizhjugApp" id="ng-app" ng-controller='rootController'>
    <header class="navbar navbar-fixed-top navbar-default" ng-controller="menuController" role="navigation">
      <div class="navbar-inner">
        <div class="grid">
          <div class="navbar-header">
            <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="brand" href="" ng-click="homeSectionClick('head')"><img src="images/logo-txt.png"></a>
          </div>

          <div class="navbar-collapse collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="" class="dropdown-toggle">Home<b class="caret"></b></a>
                <ul id="menu-popup" class="dropdown-menu">
                  <li><a href ng-click="homeSectionClick('home-all-events')">événements</a></li>
                  <li><a href ng-click="homeSectionClick('news')">News</a></li>
                  <li><a href ng-click="homeSectionClick('team')">Team</a></li>
                  <li><a href ng-click="homeSectionClick('sponsors')">Partners</a></li>
                </ul>
              </li>
              <li><a href="#/events">événements</a></li>
              <li><a href="#/speakers">Speakers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div id="menu-spacer"></div>

    <!--[if lte IE 8]>
    <div class="alert" style="margin: 0; text-align: center">
      <span>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
      improve your experience.</span>
    </div>
    <![endif]-->

    <div ng-view></div>

    <section id="sponsors" class="blue" ng-controller="homeSponsorsController">
      <h2><span class="glyphicon glyphicon-random"></span> nos partenaires</h2>
      <div class="grid">
        <div class="row">
          <div class="col-md-4 sponsor">
            <a href="http://www.zenika.com" target="_blank"><img src="images/sponsors/zenika.jpg" alt="Zenika" class="img-responsive"/></a>
          </div>
          <div class="col-md-4 sponsor">
            <!--<a href="http://www.softeam.fr" target="_blank"><img src="images/sponsors/logoSofteam_h473.png" alt="Softeam" class="img-responsive"/></a>-->
          </div>
          <div class="col-md-4 sponsor">
            <a href="http://www.istic.univ-rennes1.fr/" target="_blank"><img src="images/sponsors/ISTIC.png" alt="Istic" class="img-responsive"/></a>
          </div>
        </div>
      </div>
      <div class="donate">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="WSDMQ2Y99X9TS">
          <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
          <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <div>
        <a href="https://plus.google.com/109563201897730719916" rel="publisher">Retrouvez-nous sur Google+</a>
      </div>
    </section>

    <footer class="black">
        BreizhJUG est une association loi 1901 - <a href="mailto:team@breizhjug.org">team@breizhjug.org</a>
        <br/>
        Ce site a été fortement inspiré de <a href="http://www.devoxx.be">Devoxx.be</a> et réalisé avec les
        contributions de

        <a href="http://www.twitter.com/ndeloof">@ndeloof</a>,
        <a href="http://www.twitter.com/nmor3l">@nmor3l</a>,

        <br/>Cette œuvre est mise à disposition selon les termes de la <a rel="license"
                                                                          href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Licence
        Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 3.0 France</a>.
        <a rel="license" class="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img
                alt="Licence Creative Commons" style="border-width:0"
                src="http://i.creativecommons.org/l/by-nc-sa/3.0/fr/88x31.png"/></a>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.angularjs.org/1.2.8/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.8/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.2.8/i18n/angular-locale_fr.js"></script>
    <script src="bxslider/jquery.bxslider.min.js"></script>
    <script src="javascripts/angularui/ui-bootstrap-custom-tpls-0.9.0.min.js"></script>
    <script src="javascripts/pagedown/Markdown.Converter.js"></script>
    <script src="javascripts/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-4866662-1");
            pageTracker._trackPageview();
        } catch (err) {
        }
    </script>
  </body>
</html>
