<div class="lightgrey page">

  <div class="grid">

    <div class="page-title-container">
      <span class="page-title">Événements</span>

      <div class="page-search">
        <input type="text" placeholder="Rechercher..." ng-model="search" class="form-control page-search-input">
        <button class="btn btn-info" style="margin-top: -10px" ng-click="reverseDate = !reverseDate">
          <span>Tri par date&nbsp;</span>
          <span class="glyphicon" ng-class="reverseDate ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up'"></span>
        </button>
      </div>
    </div>

    <div class="events">
      <div class="event" ng-repeat="event in events | eventsFilter : search | orderBy:'date':reverseDate">
        <div class="row" style="margin-top:20px">
          <div class="col-md-4" style="padding-top:20px">
            <img class="vignette img-responsive" ng-src="{{ event.image }}"/>
          </div>
          <div class="col-md-8">
            <h3>{{ event.name }}</h3>

            <p ng-bind-html="getSafeDescription(event.resume)"></p>
            <ul>
              <li><span class="glyphicon glyphicon-time"></span><span calendar event="event" ></span></li>
              <li>
                <span class="glyphicon glyphicon-map-marker"></span>
                <a href="https://maps.google.fr/maps?q={{ event.place }}&iwloc=A" target="_blank">{{ event.place }}</a>
              </li>
              <li ng-repeat="speaker in event.speakers" ng-controller="eventsController">
                <span class="glyphicon glyphicon-bullhorn"></span> <a href ng-click="goToSpeaker(speaker)">{{ speaker.name }}</a>
              </li>
            </ul>
            <div ng-show="event.links">
              <h5>Ressources :</h5>
              <ul>
                <li ng-repeat="link in event.links">
                  <span class="glyphicon glyphicon-{{ link.type }}"></span> <a href="{{ link.url }}">{{ link.name || link.type }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
