<section id="head" ng-controller="homeHeadController">
  <div carousel options="carouselOptions">
    <li ng-repeat="header in headers">
      <div class="head-img-container">
        <a href="{{header.href}}" ng-show="header.href" target="_blank">
          <img ng-src="{{ header.src }}" />
        </a>
        <img ng-src="{{ header.src }}" ng-hide="header.href"/>
      </div>
    </li>
  </div>
</section>


<div id="home-all-events">
  <section id="next" ng-controller="homeNextController" ng-show="nextEvent" class="lightgrey">
    <h2><span class="glyphicon glyphicon-bullhorn"></span> Prochain événement</h2>
    <div class="grid">
      <div class="row">
        <div class="col-md-4">
          <img class="vignette img-responsive" ng-src="{{ nextEvent.image }}" />
        </div>
        <div class="col-md-8">
          <h3>{{ nextEvent.name }}</h3>
          <p ng-bind-html="getSafeDescription(nextEvent.resume)"></p>
          <ul>
            <li><span class="glyphicon glyphicon-time"></span><span calendar event="nextEvent"></span></li>
            <li>
              <span class="glyphicon glyphicon-map-marker"></span>
              <a href="https://maps.google.fr/maps?q={{ nextEvent.place }}&iwloc=A" target="_blank">{{ nextEvent.place }}</a>
            </li>
          </ul>
          <h4>Inscription :</h4>
          <span ng-show="nextEvent.eventbrite">
            <a href="https://www.eventbrite.fr/e/{{nextEvent.eventbrite}}" target="_blank"><img src="https://www.eventbrite.fr/custombutton?eid={{nextEvent.eventbrite}}" alt="Inscription" /></a>
            <span ng-show="nextEvent.meetup">ou</span>
          </span>
          <a ng-show="nextEvent.meetup" href="https://www.meetup.com/fr-FR/BreizhJUG/events/{{nextEvent.meetup}}" target="_blank" class="btn btn-default" style="color:rgb(255, 255, 255);background-color:rgb(237, 28, 64);font-family:arial;font-size:16px;font-weight:600;padding-right:20px;padding-left:20px;line-height:1.5;">Meetup</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 social" style="padding-top:60px">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.breizhjug.org" data-text='{{ nextEvent.date | date:"EEEE dd MMMM HH:mm" }} au BreizhJug : {{ nextEvent.name }}'  data-lang="fr" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <div style="overflow: hidden;">
            <div class="g-plus" data-action="share" data-href="http://www.breizhjug.org"></div>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
          </div>
          <a href='mailto:?subject=Breizhjug%20:%20{{ nextEvent.name }}&body={{ nextEvent.date | date:"EEEE dd MMMM HH:mm" }}'>Partager par mail</a>

        </div>
        <div class="col-md-8 speakers">
          <div ng-repeat="speaker in nextEvent.speakers" ng-controller="speakerController">
            <div ng-include src="'views/speaker.html'"></div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div style="text-align: right" class="register">
          <form action="mailto:breizhjug+subscribe@googlegroups.com" method="post" enctype="text/plain" target="_blank" id="annonce-subscribe">
            Recevez par email les annonces des prochains événements :
            <input type="submit" class="btn btn-primary" value="S'inscrire"/>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section id="home-events" class="grey" ng-controller="homeEventsController">
    <h2>
      <span class="glyphicon glyphicon-fast-backward"></span> événements passés <span class="glyphicon glyphicon-fast-forward"></span>
    </h2>

    <div carousel options="carouselOptions">
      <li ng-repeat="event in events">
        <div class="home-event-img-container">
          <img class="home-event-img" ng-src="{{ event.image }}"/>
        </div>
        <div class="home-event-date">{{ event.date | date:"dd MMMM yyyy"  }}</div>
        <div class="home-event-ellipsis">
          <div>
            <h4 class="home-event-title">{{ event.name }}</h4>
            <div ng-bind-html="getSafeDescription(event.resume)"></div>
          </div>
        </div>
        <a ng-href="#/events?q={{ event.name }}">Plus d'infos...</a>
      </li>
    </div>

  </section>
</div>

</section>
