<div class="lightgrey" style="padding: 40px 0;">
  <h2><span class="glyphicon glyphicon-volume-up"></span> Speakers</h2>

  <div class="grid">
    <div class="speaker" ng-repeat="speaker in speakers" ng-class-odd="'left'" ng-class-even="'right'">
      <img class="speaker-avatar" src="{{ speaker.avatar }}" />
      <div class="speaker-popup">
        <div class="speaker-arrow"></div>
        <h4 class="speaker-name">{{ speaker.name }}</h4>
        <div class="speaker-resume">{{ speaker.resume }}</div>
        <a class="twitter" href="http://www.twitter.com/{{ speaker.twitter }}"><span>@{{ speaker.twitter }}</span></a>
      </div>
    </div>
  </div>
</div>
