<div class="speaker" ng-class-odd="'left'" ng-class-even="'right'">
  <img class="speaker-avatar" ng-src="{{ speaker.avatar || 'images/default_avatar.jpg' }}"/>

  <div class="speaker-popup">
    <div class="speaker-arrow"></div>
    <h4 class="speaker-name">{{ speaker.name }}</h4>

    <div class="speaker-resume" ng-bind-html="getSafeDescription(speaker.resume)"></div>

    <a href ng-click="goToEvents(speaker)">Voir ses talks</a>

    <div class="speaker-contact" ng-show="speaker.twitter || speaker.github || speaker.mail">
      <div twitterlink name="{{ speaker.twitter }}"/>
      <div githublink name="{{ speaker.github }}"/>
      <div maillink name="{{ speaker.mail }}"/>
    </div>
  </div>
</div>
