<div class="lightgrey" style="padding: 40px 0;">
  <h2><span class="glyphicon glyphicon-volume-up"></span> Speakers</h2>

  <div class="grid">
    <div class="speaker left">
      <img class="speaker-avatar" src="images/speakers/Forax_Remi.jpg" />
      <div class="speaker-popup">
        <div class="speaker-arrow"></div>
        <h4 class="speaker-name">Rémi Forax</h4>
        <div class="speaker-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque mauris eu lorem ultrices tempor. Nam sed odio
          eget lorem mollis tincidunt sit amet in neque.</div>
        <a class="twitter" href="http://www.twitter.com/johndoe"><span>@pasletemps</span></a>
      </div>
    </div>

    <div class="speaker right">
      <img class="speaker-avatar" src="images/speakers/Thierry_Lau.jpg" />
      <div class="speaker-popup">
        <div class="speaker-arrow"></div>
        <h4 class="speaker-name">Thierry Lau</h4>
        <div class="speaker-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque mauris eu lorem ultrices tempor. Nam sed odio
          eget lorem mollis tincidunt sit amet in neque.</div>
        <a class="twitter" href="http://www.twitter.com/laut3rry"><span>@laut3rry</span></a>
      </div>
    </div>

    <div class="speaker left">
      <img class="speaker-avatar" src="images/speakers/Paul_Sandoz.jpg" />
      <div class="speaker-popup">
        <div class="speaker-arrow"></div>
        <h4 class="speaker-name">Paul Sandoz</h4>
        <div class="speaker-resume">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque mauris eu lorem ultrices tempor. Nam sed odio eget lorem mollis tincidunt sit amet in neque.
          Aenean facilisis aliquam blandit. Vestibulum eget felis convallis, molestie massa sit amet, dictum mi. Curabitur vitae quam ac sapien rhoncus commodo.
          Vivamus vitae elit ac augue volutpat vehicula id eu nunc. Aenean egestas, justo non pellentesque accumsan, purus erat cursus massa, ut mattis dolor lorem non mi.
          Suspendisse consectetur viverra ante, vel ultrices neque auctor sit amet.</div>
        <a class="twitter" href="http://www.twitter.com/paulsandoz"><span>@paulsandoz</span></a>
      </div>
    </div>
  </div>
</div>
