#news, #team, #head, footer, #next h2, #sponsors h2, #home-events, .donate, .navbar-collapse, .social, .register, .speaker-popup a {display:none}

#sponsors {
  border-top: solid 1px #000;
  position:fixed;
  bottom:0;
  left:0;
  height:200px;
  width: 100%;
  margin: auto;
  display: table;
}

#sponsors img {
  width: 150px;
  display: table-cell;
}


.vignette {
  float:right;
}

h3 {
  font-size: 4em;
}

.speakers {
  margin-top: 20px;
}

.navbar-inner {
  background-image: url("images/header/breizhjug-h300.png");
}