@font-face {
    font-family: 'GothamBlack';
    src: url('gotham-black-webfont-webfont.eot');
    src: url('gotham-black-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('gotham-black-webfont-webfont.woff') format('woff'),
         url('gotham-black-webfont-webfont.ttf') format('truetype'),
         url('gotham-black-webfont-webfont.svg#gothamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamBook';
    src: url('gothambook-webfont.eot');
    src: url('gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothambook-webfont.woff') format('woff'),
         url('gothambook-webfont.ttf') format('truetype'),
         url('gothambook-webfont.svg#gothambookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamLight';
    src: url('gothamexlight-webfont.eot');
    src: url('gothamexlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('gothamexlight-webfont.woff') format('woff'),
         url('gothamexlight-webfont.ttf') format('truetype'),
         url('gothamexlight-webfont.svg#gothamexlightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
}

.grid {
	margin: 0 auto;
	max-width: 1000px;
	padding: 0;
}

.row {
	clear: both;
}
img {
    vertical-align: middle;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

section {
    padding: 0 30px 40px 30px;
}

section h2 {
    padding: 40px 0;
    margin: 0;
}

/*########### Menu ###########*/
header {
    background: #fff;
    z-index: 10000 !important;
}

header .navbar-inner {
    background: #fff;
    padding: 0 !important;
}

header .brand {
    padding: 2px 0 0 0 !important;
    margin: 0 40px 0 30px !important;
}

header .caret {
    margin-left: 4px !important;
    margin-top: 6px !important;
}

header .nav li a {
	color: #000;
	display: block;
	padding: 16px 15px !important;
	text-transform: uppercase;
	font: normal 17px/17px "GothamBook","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#menu-spacer {
    height: 53px;
}

@media (max-width: 979px) {
    #menu-spacer {
        height: 0;
    }
    .navbar-fixed-top {
        margin: 0;
    }
}

/*########### Others ###########*/
#head {
        background: #fff;
    padding: 0;
}

.orange {
	background: #ff6a00;
	-webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}
.orange a {
	color: #000;
}
.purple {
	background: #6633cc;
	color: #fff;
}
.lightgrey {
	background: #f0ebe4;
}
.black {
	background: #000;
	}

/*########### Twitter & Github link ###########*/
.twitter, .github {
    display: inline-block;
}

.twitter {
    color: #139be8;
}

.github {
    color: #000;
}

/* < 500px, we just show the image and hide the text */
@media (max-width: 500px) {
    .twitter span, .github span {
        display: none;
    }
}

/*########### Home - Next event ###########*/
#next {
	padding-bottom: 10px;
}

#next h3 {
	color: #ff6a00;
	margin-top: -15px;
}
#next h4 {
	color: #000;
}

img.vignette {
	box-shadow: 5px 5px 5px;
}

#next .bio {
	border: solid 1px #000;
	border-radius: 6px;
	background: #fff;
	padding: 6px;
	width: 300px;
	position: relative;
	top: -160px;
	left: 300px;
}

#annonce-subscribe {
	background:#fff;
	border: solid 1px #000;
	padding: 5px;
	border-radius:4px;
	box-shadow: 2px 2px 2px;
	position:relative;
	top:50px;
	left:0;
}

/*########### Home - Last events ###########*/
#events li {
        float: left;
	list-style: none;
	position: relative;
	width: 266px;
	margin-right: 10px;
}

#events h4 {
	font: bold 16px/16px "GothamBook","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 16px;
	text-transform: uppercase;
	color: #ff6a00;
}

#events .date {
	font: bold 15px/15px "GothamBook","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
}
#events img {
	width:250px;
}

/*########### Home - News ###########*/
#news {
	background:  #ff6a00 url(../images/lensflare.png) no-repeat center top;
}

#forum_embed {
 	background: #fff;
	border: solid 1px #444;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    #news{
        text-align: center;
    }
}

/*########### Home - Team ###########*/
#team {
	background: #1c1c1c url(../images/lensflare.png) no-repeat center top;
	color: #737373;
}

#team h2 {
	color: #fff;
}

#team h4{
	color: #ff6a00;
	min-height: 40px;
}

@media (max-width: 767px) {
    #team .team {
        padding: 10px;
    }
}

@media (min-width: 768px){
    .fivecolumns .span2 {
        width: 17.6%;
        margin-left: 3%;
    }
}

/*########### Home - Sponsors ###########*/
#sponsors .sponsor {
    padding: 20px;
    text-align: center;
}

#sponsors a img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);

        transition: all 1s;
}

#sponsors a:hover img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
	-webkit-transform: scale(1.1);
    	-moz-transform: scale(1.1);
    	-o-transform: scale(1.1);
    	transform: scale(1.1);
    	-webkit-transform-origin: center center;
    	-moz-transform-origin: center center;
    	-o-transform-origin: center center;
    	transform-origin: center center;
	z-index:1000;

        transition: all 1s;
}

/*########### Footer ###########*/
footer {
        padding: 10px;
        text-align:center;
    position: relative;
}

footer .license {
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: left;
}

@media (max-width: 767px) {
    footer .license {
        position: relative;
        left: auto;
        top: auto;
        display: block;
        text-align: center;
    }
}

/*########### Speakers ###########*/
#speakers {
    padding: 30px 20px 10px 20px;
}

.speakers-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.speakers-search {
    position: absolute;
    right: 0;
    top: 5px;
}

@media (max-width: 450px) {
    .speakers-title {
        text-align: center;
    }
    .speakers-search {
        position: relative;
    }
}

.speaker {
     min-height: 150px;
     margin: 30px 10px;
}

.speaker-avatar {
    width: 150px;
    height: 150px;
    border: solid 1px #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.speaker.left .speaker-avatar {
    float: left;
}

.speaker.right .speaker-avatar {
    float: right;
}

.speaker-popup {
     background: #fff;
     color: #000;
     padding: 2px 10px 10px 10px;
     position: relative;
     min-height: 138px;

     -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

     -webkit-border-radius: 8px;
     border-radius: 8px;

     transition: all 0.25s ease-out 0s;
     -webkit-transition: all 0.25s ease-out 0s;
}

.speaker-popup:hover {
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.speaker.left .speaker-popup {
    margin: 0 20px 0 180px;
}

.speaker.right .speaker-popup {
    margin: 0 180px 0 20px;
}

.speaker-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    top: 69px;
}

.speaker.left .speaker-arrow {
    border-left: 0;
    border-right: 15px solid #fff;
    left: -15px;
}

.speaker.right .speaker-arrow {
    border-left: 15px solid #fff;
    border-right: 0;
    right: -15px;
}
